.banner {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
}

.banner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--thm-black);
  opacity: 0.6;
  z-index: 1;
}

.homeBanner {
  background-image: url(/images/main-slider/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 1600px) {
  .banner {
    height: 100vh;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    height: auto;
  }

  .homeBanner {
    background-position: 30% 20%;
    background-size: auto;
  }
}

@media screen and (max-width: 767px) {
  .homeBanner {
    background-position: 60% 20%;
  }
}